<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <table>
        <tr>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">ARQUIVO</label>
                <input type="text" name="Arquivo" id="arquivo"  autocomplete="off" placeholder="nome do arquivo" class="form-control field-text" value="{{.m.Arquivo}}">
            </td>
            <td style="width: 3%"> </td>
            <td style="width: 40%">
                <label class="col-sm-8 label-micro">CAMINHO</label>
                <input type="text" name="Caminho" id="caminho"  autocomplete="off" placeholder="caminho" class="form-control field-text" value="{{.m.Caminho}}">
            </td>
            <td style="width: 3%"> </td>
            <td style="width: 25%">
                <label for="Estado" class="col-sm-8 label-micro">ESTADO</label>
                <div class="col-sm-8">
                    <select name="Estado" id="Estado" class="form-control bs-select">
                        <option value="0">Inativo</option>
                        <option value="1">Ativo</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <table width="98%">
        <tr>
            <td >
                <label class="col-sm-8 label-micro">DESCIÇÃO</label>
                <input type="text" name="Descricao" id="descricao"  autocomplete="off" placeholder="descrição" class="form-control field-text" value="{{.m.Descricao}}">
            </td>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">CATALOGOS</label>
                <select name="CatalogoIds" id="Catalogos" class="form-control" multiple></select>
            </td>
            <td style="width: 8%">
                <label class="col-sm-2 label-micro">GRUPO</label>
                <select name="GrupoId" id="grupo_id" value="{{.m.GrupoId}}">
                    {{range $key,$item := .grupos}}
                        <option value="{{$item.Id}}" {{if compare $.m.GrupoId $item.Id}}selected{{end}}>{{$item.Nome}}
                    {{end}}
                </select>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <label class="col-sm-11 label-micro">LARGURA</label>
                <input type="number" name="Largura" id="largura" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Largura}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">ALTURA</label>
                <input type="number" name="Altura" id="altura" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Altura}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">PONTOS</label>
                <input type="number" name="Pontos" id="pontos" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Pontos}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">CORES</label>
                <input type="number" name="Cores" id="cores" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Cores}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">METRAGEM</label>
                <input type="number" name="Metragem" id="metragem" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Metragem}}">
            </td>
            <td style="width: 1%"></td>            
            <td>
                <label class="col-sm-11 label-micro">PREÇO</label>
                <input type="number" name="Preco" id="preco" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Preco}}">
            </td>
        </tr>
    </table>

    <table name="Linhas" width="30%">
        <th class="label-micro">SEQ</th>
        <th class="label-micro">COD</th>
        <th class="label-micro">NOME</th>
        <th class="label-micro">COR</th>
        {{range $key,$item := .linhas}}
            <tr>
                <td>{{$item.Seq}}</td>
                <td>
                    <input type="hidden" style="width: 45px;" name="LinhaIds" value="{{$item.Linha.Id}}">
                    <input type="Text" style="width: 45px;" name="LinhaCods" value="{{$item.Linha.Codigo}}">
                </td>
                <td>{{$item.Linha.Nome}}</td>
                <td>
                    <span style="border: 1px solid rgb(0, 0, 0); background-color: #{{$item.Linha.CorHex}}">__</span>
                </td>
            </tr>
        {{end}}
    </table>

</form>
</div>