<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <table>
        <tr>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">ARQUIVO</label>
                <input type="text" name="Arquivo" id="arquivo"  autocomplete="off" placeholder="nome do arquivo" class="form-control field-text" value="{{.m.Arquivo}}">
            </td>
            <td style="width: 3%"> </td>
            <td style="width: 40%">
                <label class="col-sm-8 label-micro">CAMINHO</label>
                <input type="text" name="Caminho" id="caminho"  autocomplete="off" placeholder="caminho" class="form-control field-text" value="{{.m.Caminho}}">
            </td>
            <td style="width: 3%"> </td>
            <td style="width: 25%">
                <label for="Estado" class="col-sm-8 label-micro">ESTADO</label>
                <div class="col-sm-8">
                    <select name="Estado" id="Estado" class="form-control bs-select">
                        <option value="0">Inativo</option>
                        <option value="1">Ativo</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <table width="98%">
        <tr>
            <td >
                <label class="col-sm-8 label-micro">DESCIÇÃO</label>
                <input type="text" name="Descricao" id="descricao"  autocomplete="off" placeholder="descrição" class="form-control field-text" value="{{.m.Descricao}}">
            </td>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">CATALOGOS</label>
                <select name="CatalogoIds" id="Catalogos" class="form-control" multiple></select>
            </td>
            <td style="width: 8%">
                <label class="col-sm-2 label-micro">GRUPO</label>
                <select name="GrupoId" id="grupo_id" value="{{.m.GrupoId}}">
                    {{range $key,$item := .grupos}}
                        <option value="{{$item.Id}}" {{if compare $.m.GrupoId $item.Id}}selected{{end}}>{{$item.Nome}}
                    {{end}}
                </select>
            </td>
        </tr>
    </table>

    <table>
        <tr>
            <td>
                <label class="col-sm-11 label-micro">LARGURA</label>
                <input type="number" name="Largura" id="largura" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Largura}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">ALTURA</label>
                <input type="number" name="Altura" id="altura" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Altura}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">PONTOS</label>
                <input type="number" name="Pontos" id="pontos" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Pontos}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">CORES</label>
                <input type="number" name="Cores" id="cores" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Cores}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">METRAGEM</label>
                <input type="number" name="Metragem" id="metragem" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Metragem}}">
            </td>
            <td style="width: 1%"></td>            
            <td>
                <label class="col-sm-11 label-micro">PREÇO</label>
                <input type="number" name="Preco" id="preco" style="text-align: right;" class="layui-input form-control field-text" value="{{.m.Preco}}">
            </td>
        </tr>
    </table>

    <!-- Tab links -->
    <table id="info" width="50%">
        <tr>
            <td width="50%" style="vertical-align: top;">
                <div class="col-md-12">
                    <div class="tab">
                        <a href="javascript:openTab(event,'Linhas');" id="opLinha" class="tablinks">Linha</a>
                        <a href="javascript:openTab(event,'Notas');" id="opNota" class="tablinks">Notas</a>
                    </div>
                
                    <!-- Tab content -->
                    <div id="Linhas" class="tabcontent">
                        <div name="Linhas" class="row">
                            <div class="label-micro col-md-2" style="text-align: center;">SEQ</div>
                            <div class="label-micro col-md-3" style="text-align: center;">CÓDIGO</div>
                            <div class="label-micro col-md-5">NOME</div>
                            <div class="label-micro col-md-1" style="text-align: center;">COR</div>
                        </div>
                        <div name="Linhas" class="row">
                            {{range $key,$item := .linhas}}
                                <div style="text-align: center;" class="col-md-2">
                                    {{$item.Seq}}
                                </div>
                                <div style="text-align: center;" class="col-md-3">
                                    <input type="hidden" style="width: 45px;" name="LinhaIds" value="{{$item.Linha.Codigo}}">
                                    <input type="Text" onchange="LerDst(this.value)" style="width: 45px; height: 19px;" name="LinhaCods" value="{{$item.Linha.Codigo}}">
                                </div>
                                <div class="col-md-5" nowrap>
                                    {{$item.Linha.Nome}}
                                </div>
                                <div class="col-md-2">
                                    <span style="border: 1px solid rgb(0, 0, 0); background-color: #{{$item.Linha.CorHex}}">__</span>    
                                </div>
                            {{end}}
                        </div>
                    </div>
                    <div id="Notas" class="tabcontent">
                        <img name="imagem" src="data:image/png;base64, {{.imagem}}" alt="Imagem" />
                    </div>
                </div>
            </td>
            <td width="30%">
                
                <div id="div_img" name="div_img" class="layui-input image col-md-12" style="background-color: rgb(220, 220, 220);">
                    <img name="img" src="data:image/png;base64, {{.img}}" alt="Imagem" />
                </div>
                
            </td>
        </tr>
    </table>
</form>

</div>

<style>
    /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 4px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 4px 12px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-top: none;
}
</style>

<script src="/static/layui/layui.js"></script>

<script>
// Get the element with id="defaultOpen" and click on it
document.getElementById("opLinha").click();

function openTab(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the button that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}


</script>


<script language="javascript">
    var $,form;
    
    layui.config({
            base : "js/"
        }).use(['form','element','layer','jquery'],function(){
          form = layui.form; //Somente após esta etapa ser realizada, alguns elementos do formulário serão decorados automaticamente com sucesso
          $ = layui.jquery;
          
        });


    function LerDst(cor){
    //alert('AQUI ' + cor)

    // alert(urlfor);
    form = layui.form; //Somente após esta etapa ser realizada, alguns elementos do formulário serão decorados automaticamente com sucesso
    $ = layui.jquery;
    var $this = $(this);
    //var form_data = $("form").serialize();
    $.ajax({
        type: "POST",
        url: "/bordado/lerdst",
        data: {
            codigo:   cor
        },
        dataType: 'json',
        success: function(data) {

            console.log(data);
            
            if(data != ''){
                $("form[name=thisForm]").find("img[name=img]").val(data);
                $("form[name=thisForm]").find("input[name=Caminho]").val('/TESTE');
                //alert('alterado')
                return false;
            }
        }
    }); 

}

</script>
