<!-- Verifique o plugin -->
<script src="/static/plugins/jquery-validation/jquery.validate.min.js"></script>
<script src="/static/plugins/jquery-validation/localization/messages_pt_BR.js"></script>
<!-- Encapsulamento simples para o tópico atual, código condensado -->
<script src="/static/sdtheme/scripts/sdvalidate.js"></script>

<style type="text/css">
    #modalDialog .modal-header {
      cursor: move;
    }
  
    #modalDialog1 .modal-header {
      cursor: move;
    }
  
    #modalDialog2 .modal-header {
      cursor: move;
    }
  
    #modalDialog3 .modal-header {
      cursor: move;
    }
  
    #modalDialog4 .modal-header {
      cursor: move;
    }
  
    #modalDialog5 .modal-header {
      cursor: move;
    }
  
    #modalDialog6 .modal-header {
      cursor: move;
    }
  
    #modalDialog7 .modal-header {
      cursor: move;
    }
  
    #modalDialog8 .modal-header {
      cursor: move;
    }
  
    #modalDialog9 .modal-header {
      cursor: move;
    }
  
    #modalDialog10 .modal-header {
      cursor: move;
    }
  
    #modalDialog11 .modal-header {
      cursor: move;
    }
  
    #modalDialog12 .modal-header {
      cursor: move;
    }
  
    /*.form-group .datepicker{
          z-index: 9999;
        }*/
    /*模态框效果*/
    /*.modal-header {*/
    /*background: #00FF00;*/
    /*min-height: 16.42857143px;
        padding: 15px;
        border-bottom: 1px solid #e5e5e5;*/
    /*}*/
    /*.col-sm-1 input[type=checkbox]{
  　　display: inline-block;
  　　vertical-align: middle;
  　　margin-bottom: 2px; 
      }*/
    </style>

<script>
	var index = parent.layer.getFrameIndex(window.name); //Primeiro, obtenha o índice da camada iframe atual
   $(function () {
       pageInit();
   });

    function pageInit(){
        $("#Id").attr("readonly", true);
        $("#Estado").selectpicker('val', '{{.m.Estado}}');

        //verificar
        validateInfo();
    }

    //Validação de formulário e envio AJAX
    function validateInfo() {
        var $thisForm = $('#thisForm');
        $thisForm.sdvalidate({
            rules: {
                VendorDesc:{
                    required: true
                }
            },
            messages: {},
            submitHandler: function (form) {
				var url ='{{ urlfor "ClienteController.Edit"}}';
				var params = $thisForm.serialize();
				$.sdpost(url, params, function(re){
					if(re.code === 0){
						parent.layer.msg(re.msg);
						parent.refresh(re.obj);
						parent.layer.close(index)
					}else{
						parent.layer.alert(re.msg,{icon:2,title:'Falha'})
					}
				});
               return false;
            }
        });
    }

    function FormSubmit() {
        $("#thisForm").submit();		
    }

</script>
