<form id="thisForm">
    <input type="hidden" name="Id" id="Id" value="{{.m.Id}}">
    <table>
        <tr>
            <td style="width: 60%">
                <label class="col-sm-8 label-micro">NOME</label>
                <input type="text" name="Nome" id="nome"  autocomplete="off" placeholder="nome" class="form-control field-text" value="{{.m.Nome}}">
            </td>
            <td style="width: 3%"> </td>
            <td style="width: 25%">
                <label for="Estado" class="col-sm-8 label-micro">ESTADO</label>
                <div class="col-sm-8">
                    <select name="Estado" id="Estado" class="form-control bs-select">
                        <option value="0">Inativo</option>
                        <option value="1">Ativo</option>
                    </select>
                </div>
            </td>
        </tr>
    </table>
    <table width="95%">
        <tr>
            <td style="width: 10%">
                <label class="col-sm-8 label-micro">FUNÇÃO</label>
                <input type="text" name="ContatoFuncao" id="contato_funcao" placeholder="função" class="layui-input form-control field-text" value="{{.m.ContatoFuncao}}" /> 
            </td>
            <td style="width: 1%"></td>
            <td style="width: 60%">
                <label class="col-sm-8 label-micro">NOME DO CONTATO</label>
                <input type="text" name="ContatoNome" id="contato_nome" placeholder="nome" class="layui-input form-control field-text" value="{{.m.ContatoNome}}" />
            </td>
        </tr>
    </table>
    <table width="95%">
        <tr>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">CGC/CPF</label>
                <input type="text" name="CgcCpf" id="cgc_cpf"  autocomplete="off" class="layui-input form-control field-text" value="{{.m.CgcCpf}}">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">RAZÃO SOCIAL</label>
                <input type="text" name="RazaoSocial" id="razao_social"  autocomplete="off" class="layui-input form-control field-text" value="{{.m.RazaoSocial}}">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 20%">
                <label class="col-sm-8 label-micro">INSCR. ESTAUAL</label>
                <input type="text" name="inscr_estadual" id="InscrEstadual"  autocomplete="off" class="layui-input form-control field-text" value="{{.m.InscrEstadual}}">
            </td>
        </tr>
    </table>

    <table>

        <tr>
            <td>
                <label class="col-sm-11 label-micro">TELEFONE 1</label>
                <input type="text" name="Telefone1" id="telefone1" class="layui-input form-control field-text" value="{{.m.Telefone1}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">TELEFONE 2</label>
                <input type="text" name="Telefone2" id="telefone2" class="layui-input form-control field-text" value="{{.m.Telefone2}}">
            </td>
            <td style="width: 1%"></td>
            <td>
                <label class="col-sm-11 label-micro">TELEFONE 3</label>
                <input type="text" name="Telefone3" id="telefone3" class="layui-input form-control field-text" value="{{.m.Telefone3}}">
            </td>
            <td style="width: 1%"></td>
            <td style="width: 50%">
                <label class="col-sm-11 label-micro">EMAIL</label>
                <input type="text" name="Email" id="email" class="layui-input form-control field-text" value="{{.m.Email}}">
            </td>
        </tr>
    </table>

     <table>
        <tr>
            <td style="width: 40%">
                <label class="col-sm-6 label-micro">LOGRADORO</label>
                <input type="text" name="Endereco" id="endereco" class="layui-input form-control field-text" value="{{.m.Endereco}}" />
            </td>

            <td style="width: 1%"></td>
            <td style="width: 20%">
                <label class="col-sm-6 label-micro">MUNICÍPIO</label>
                <input type="text" name="Cidade" id="cidade" class="layui-input form-control field-text" value="{{.m.Cidade}}" />
            </td>
            <td style="width: 0.2%"></td>                <td style="width: 1%"></td>
            <td style="width: 10%">
                <label class="col-sm-6 label-micro">CEP</label>
                <input type="text" name="Cep" id="cep" class="layui-input form-control field-text" value="{{.m.Cep}}" />
            </td>
             <td style="width: 1%"></td> 
            <td style="width: 10%">
                <label class="col-sm-6 label-micro">UF</label>
                <select name="Uf" id="uf" value="{{.m.Uf}}">
                    {{range $key,$item := .ufs}}
                        <option value="{{$item}}" {{if compare $.m.Uf $item}}selected{{end}}>{{$item}}
                    {{end}}
                </select>
            </td>
        </tr>
    </table>
    <table width="100%">
        <tr>
            <td style="width: 65%">
                <label class="col-sm-3 label-micro">OBSERVAÇÃO</label>
                <div class="col-sm-10">
                    <textarea name="Obs" class="form-control" rows="3" cols="70" placeholder="" onfocus=this.select()>{{.m.Obs}}</textarea>
                </div>
            </td>
        </tr>
    </table>
</form>
</div>