<!-- início do conteúdo da página -->
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">                        
                    </div>
                    <div class="col-md-6 align-right">
                        <div class="btn-group">
                            <button class="btn btn-warning treegridexpend" data-target="#treeGrid" >
                                <i class="fa fa-expand"></i> Expandir todos</button>
                            <button class="btn btn-primary treegridcollapse" data-target="#treeGrid" >
                                <i class="fa fa-compress"></i> Encolher todos
                            </button>
                        </div>
                    </div>
                </div>
                <table id="treeGrid" class="table  table-bordered table-hover margin-top-10">
                    <thead>
                        <th class="align-center">
                            <input type="checkbox" class="chkAll" />
                        </th>
                        <th>Nome</th>
                        <th class="align-center">Ícone</th>
                        <th class="align-center">Categoria</th>
                        <th>Endereço</th>                             
                    </thead>
                    <tbody>                            
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- Fim do conteúdo da página -->
